body{
    width: auto;
    background-image: url(../images/fondo-admin.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 34%;
    padding-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.contenido-admin{
    width: 40%;
    background-color: rgba(245,245,245,0.8);
    justify-content: center;
    padding: 4%;
    border-radius: 50px;
}

.contenido-admin h1{
    width: 100%;
    text-align: center;
}


.datos-form{
    width: 80%;
    font-size: 20px;
    padding-left: 10%;
    
}

.form-control{
    width: 200px;
    font-size: 20px;
    padding: 5px;
}


#admin-pass{
    margin-left: 26px;
    margin-top: 2%;
}



button{
    outline: none;
    border-radius: 0;
    padding: 15px 15px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: rgb(185, 42, 137);
    color: #ffffff;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 35%;
    margin-bottom: 20px;
}

button:hover{
    background: aliceblue;
    color:black;
    cursor: pointer;
}