.tabla_carrito{
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    padding-left: 12%;
    margin-bottom: 2%;
}

.cates{
    width: 70%;

}


.contenedor-form{
    width: 100%;
    background-color: rgb(226, 226, 226);
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.datos-comprador{
    width: 50%;
    padding: 5%;
}

.resumen-compra{
    width: 30%;
    background-color: white;
}

/*-------------------- Cartel en carrito ---------------------*/
.cartel{
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    background-color: white;
    font-size: 20px;
} 


/*--------------------- Tabla carrito ------------------------*/
#cate-table{
 background-color: rgba(182,120,255);
}

#carrito-productos{
    background-color: white;
}


.eliminar{
    background: none; 
    border: none; 
    cursor: pointer; 
    
    padding-left: 35px;
    transition: transform 0.2s ease-in-out; 
    
}

.eliminar img{
    width: 25px; 
    opacity: 0.7; 
    margin-left: 25%;
}

.eliminar img:hover{
    opacity: 1; 
    transform: scale(1.2); 
}


.th-img{
    padding-left: 15px;
    justify-content: center;
    align-items: center;
}

.img-carrito{
    justify-items: center;
    align-items: center;
    padding-left: 30px;
}

.nom-carrito{
    padding-left: 10px;
}


.prod-col{
    padding-left: 5%;
}


.cant-carrito{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.precio{
    text-align: center;
}


.contador{
    width: 50px;
    height: 25px;
    text-align: center;
    margin-left: 30px;
}


.contador input{

   
}

.total{
    width: 120px;
    text-align: center;
}



/*---------------------- CSS del form --------------------------*/
h3{
    background-color: white;
}

.primario{
    width: 90%;
    display: flex;
    justify-content: center;
}

/*-------------------------- Total a pagar ------------------------------*/
.total-pagar{
    width: 70%;
    margin-left: 12%;
    margin-bottom: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap:1rem;
}

.total-pagar p{
    margin:0;
    font-size: 20px;
}

.total-pagar button {
    border: 1px solid rgb(84, 82, 179);
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: rgb(84, 82, 179);
    color: #ffffff;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.total-pagar button:hover{
    background: rgb(182,120,255);
    border: 1px solid rgb(182,120,255);
    cursor: pointer;
}