.tabla_carrito{
    width: 82%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cates{
    width: 12%;
    background-color: rgb(202, 202, 202);
}