footer{
    width: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1%;
    padding-left: 4%;
}

.forma-pago{
    width: 35%;
    justify-content: center;
}

.opcPago li{
    list-style: none;
    margin-bottom: 10px;
    
}

.forma-envio{
    width: 30%;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding-left: 1%;
    padding-right: 1%;
}

.opcEnvio li{
    list-style: none;
    margin-bottom: 10px;
}

.opcEnvio a:hover{
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(182,120,255);
}


.forma-contacto{
    width: 28%;
    padding-left: 1%;
}

.mapouter{
    width: 25%;
    padding-right: 5%;
}
