header{
    width: 100%;
    height: auto;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(70,69,155,1) 66%, rgba(182,120,255,1) 90%);    
    align-items: center;
    display: flex;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a{
    margin-left: 5%;
}

.buscador{
    width: 50%;
    align-items: center;
}



.form-control{
    width: 50%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 40%;
}

.opciones-header{
    width: 25%;
    padding-right: 2%;
}

.opciones-header ul{
    display: flex;
    list-style: none;
    font-size: 120%;
    color: aliceblue;
}

.opciones-header ul li{
    margin-left: 8%;
}


.cuenta-carrito{
    color: black;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
 
}

	
a{
    text-decoration: none;  
}


.btn-salir img{
    filter: invert(1);
}