header{
    width: auto;
    height: auto;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(70,69,155,1) 66%, rgba(182,120,255,1) 90%);    
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a{
    color: white;
    font-size: 1.2em;
    margin-left: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

header a:hover {
    text-decoration: underline;
}

.buscador{
    width: 60%;
    align-items: center;
    font-size: 1.2em;
    border-radius: 20px;
}



.form-control{
    width: 50%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 40%;
}

.opciones-header{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opciones-header ul{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    align-items: center;
    
}

.opciones-header ul li{
    margin-left: 20px;
}


.cuenta-carrito{
    position: absolute;
    top:-5px;
    right: -10px;
    color: white;
    background-color: #ff0000;
    font-size:1.2em;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold; 
}

	
a{
    text-decoration: none;  
}




.btn-salir img{
    filter: invert(1);
}


.carrito-container{
    position: relative;
}

.carrito-icon{
    font-size: 2em;
    color: white;
}

.btn-salir i{
    filter: invert(1);
}

.btn-salir i:hover{
    cursor: pointer;
}