body{
    width: 100%;
    height: auto;
    margin: 0;
    background-color: rgb(226, 226, 226);
}


.banner{
    width: 100%;
    height: 500px;
    background:linear-gradient(to right top, #b1b1b18a, rgba(84, 82, 179,0.7)), url(../images/banner.png);
    background-size: cover;
    background-position: center;
    border-bottom: white solid;
}

.texto-banner{
    color:white;
    font-family: "Berkshire Swash", serif;
    font-size: 40px;
    font-weight: 100;
}


/* -------------------------------------  Banner chiquito  -----------------------------------------------------*/

.small-banner{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.cuadrado{
    width: 14%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.cuadrado img{
    margin-right: 10%;
}

#descuento{
    border-left: 1px black solid;
    border-right: 1px black solid;
   
}

#envios{
    border-right: 1px black solid;
}

/* -------------------------------------  Botones buscador  -----------------------------------------------------*/


.que-buscas{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 2%;
}

h2{
    text-align: center;
    padding-bottom: 2%;
}

.tabla{
    width: 60%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
}


.fila th{
    height: 100px;
    height: 150px;
    background-color: white;
    padding-top: 2%;
    cursor: pointer;
}

.fila th:hover{
    background: rgb(84, 82, 179);
    color: #fff;
    translate: 0 -5px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
}

.fila th:hover img {
    filter: invert(1);
}



/* -------------------------------------  Seccion de destacados  -----------------------------------------------------*/

.wrapper{
    min-height: 100%;
    height: 400px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    
}

.wrapper i{
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.wrapper i:hover{
    background: rgb(84, 82, 179);
    color: #fff;
}

.wrapper i:first-child{
    left:  -22px;
    margin-left: 18%;

}

.wrapper i:last-child{
    right:  -22px;
    margin-right: 18%;
}

.carousel{
    max-width: 1150px;
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5));
    gap:16px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth; 
}

.carousel .card{

    height: 342px;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel.dragging{
    scroll-behavior: auto;
}

.card-img-top {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin: 0;
}


@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100%/2)-9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}