body{
    width: 100%;
    height: auto;
    margin: 0;
    background-color: rgb(226, 226, 226);
}


.banner{
    width: 100%;
    height: 500px;
    background:linear-gradient(to right top, #b1b1b18a, rgba(84, 82, 179,0.7)), url(../images/banner.png);
    background-size: cover;
    background-position: center;
    border-bottom: white solid;
}

.texto-banner{
    color:white;
    font-family: "Berkshire Swash", serif;
    font-size: 40px;
    font-weight: 100;
}

.small-banner{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.cuadrado{
    width: 20%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

#descuento{
    border-left: 1px black solid;
    border-right: 1px black solid;
   
}

.que-buscas{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 2%;
}

h2{
    text-align: center;
    padding-bottom: 2%;
}

.tabla{
    width: 60%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
}


.fila th{
    height: 100px;
    height: 150px;
    background-color: white;
    padding-top: 2%;
}



footer{
    width: 100%;
    background-color: aqua;
}



/* -------------------------------------  Seccion de destacados  -----------------------------------------------------*/

.wrapper{
    min-height: 100%;
    height: 400px;
    display: flex;
  
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    
}

.carousel{
    max-width: 1150px;
    
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5));
    gap:16px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.carousel .card{

    height: 342px;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card-img-top {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin: 0;
}


