body{
    width: 100%;
    height: auto;
    margin: 0;
    background-color: rgb(226, 226, 226);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.banner{
    width: 100%;
    height: 600px;
    animation: banner 15s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes banner{
    0%, 20%{
        background-image: url(../images/banner1.png);
    }
    25%, 45%{
        background-image: url(../images/banner2.png);
    }
    50%, 70%{
        background-image: url(../images/banner3.png);
    }
    75%, 100%{
        background-image: url(../images/banner4.png);
    }
}

.info{
    color: white;
    text-align: center;
}

.titulo-banner{
    font-size: 50px;
}

.info p{
    font-size: 20px;
}


a{
    text-decoration: none;
    color: currentColor;
}



/* -------------------------------------  Banner chiquito  -----------------------------------------------------*/

.small-banner{
    width: auto;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding-left: 15%;
    padding-right: 15%;
}

.cuadrado{
    width: 14%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.cuadrado img{
    margin-right: 10%;
}

#cuotas{
    width: 25%;
}

#descuento{
    width: 25%;
    border-left: 1px black solid;
    border-right: 1px black solid;
   
}

#envios{
    width: 25%;
    border-right: 1px black solid;
}


#atencion{
    width: 25%;
}

/* -------------------------------------  Botones buscador  -----------------------------------------------------*/


.que-buscas{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 5%;
}

h1{
    text-align: center;
    padding-bottom: 2%;
    color: white;
}

.titulos{
    color: rgb(84, 82, 179);
    
}



.tabla{
    width: 60%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 20%;
}


.fila th{
    height: 100px;
    height: 150px;
    background-color: white;
    padding-top: 2%;
    cursor: pointer;
}

.fila th:hover{
    background: rgb(84, 82, 179);
    color: #fff;
    translate: 0 -5px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
}

.fila th:hover img {
    filter: invert(1);
}



/* -------------------------------------  Seccion de destacados  -----------------------------------------------------*/

.wrapper{
    min-height: auto;
    height: 500px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    
}

.wrapper i{
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.wrapper i:hover{
    background: rgb(84, 82, 179);
    color: #fff;
}

.wrapper i:first-child{
    left:  -2%;
    margin-left: 18%;

}

.wrapper i:last-child{
    right:  -2%;
    margin-right: 18%;
}

.carousel{
    max-width: 1150px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4.22));
    gap:15px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth; 
}

.carousel .card{
    
    height: 450px;
    background-color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 5%;
    overflow: hidden; 
    padding: 0; 
    margin: 0; 
}




.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel.dragging{
    scroll-behavior: auto;
}

.card-img-top {
    width: 100%;
    height: 270px;
    object-fit: cover;
    display: block;
    margin: 0;
    border-bottom: 5px solid rgb(84, 82, 179);
}


#card-body-inicio{
    flex-grow: 1; /* Ocupa el espacio restante */
    padding: 0;
    padding-left: 5%;
    padding-right: 4%;
    padding-bottom: 5%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    text-align: center;
}

#h4-inicio{
    height: 50%;

}

#texto-inicio{
    
    margin-top: -20%;
}

#boton-inicio{
    height: 50px;
    margin-left: -10%;
}


@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100%/2)-9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.btn-agregar{
    border: 1px solid rgb(84, 82, 179);
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: rgb(84, 82, 179);
    color: #ffffff;
    border-radius: 10%;
    margin-top: 5px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.btn-agregar:hover{
    background: rgb(182,120,255);
    border: 1px solid rgb(182,120,255);
    cursor: pointer;
}







