.contenido{
    width: 80%;
    height: auto;
    display: flex;
    padding-top: 5%;
    justify-content: center;
    margin-left: 15%;

}


.categorias{
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;

}

.donde-prod{
    width: 75%;
    flex-wrap: wrap;
   
} 

.card{
    width: 75%;
    height: auto;
    display: flex;
    grid-template-areas: "image" "text" "stats";
    background: white;
    font-size: 18px;
    margin-top: 0.25%;
    padding-left: 5%;
    padding-right: 5%;
} 

.card img{
    width: 15%;
    height: auto;
    padding: 2%;
}

.card-body{
    width: 50%;
    padding-left: 5%;
    margin-bottom: 2%;

}

.card-body p{
    color:black;
    font-size: 20px;
}

.card-text{
  color: rgb(182,120,255);
}

.card-img-top{
    grid-area: image;
    background-size: cover;
}

.div-btn{
  width: 15%;
  justify-content: center;
  align-content: center;
  align-items: center;
}



  table {
    font-size: 25px;
    background-color: aliceblue;
    padding: 5%;
    border-color: #c5692f;
  }



.foto{
    width: 100%;
    height: auto;
    
}

.foto img{
    width: 100%;
}


.form{
    width: 50%;
    margin-bottom: 50px;
    justify-content: center;
    align-self: center;
    position: absolute;
}

.form input{
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

#muestraTitulo{
   
    font-size: 50px;
}

.btn-comprar{
    height: 30px;
    background-color: rgb(182,120,255);
}

.btn-agregar{
    text-align: center;
    height: 50px;
    background-color: rgb(182,120,255);
    margin-left: -50px;
}

/*------------------------- Filtros ------------------------*/
.filters {
    width: 15%;

  }
  
  .filter-group {
    /* Estilos para cada grupo de filtros */
  }
  
  .filter-group ul {
    list-style: none;
    padding: 0;
  }
  
  .filter-group li {
    width: 40%;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 30%;
  }

  .todos-prod{
    width: 140px;
    height: 35px;
    font-size: 16px;
    color: white;
    background-color: rgb(182,120,255);
    cursor: pointer;
    border: 0;
  }

  .filter-group li button{
    width: 140px;
    height: 35px;
    font-size: 16px;
    color: white;
    background-color: rgb(182,120,255);
    cursor: pointer;
    border: 0;
  }


  .category-group ul{
    list-style: none;
    padding: 0;
  }

  .category-group li{
    width: 40%;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 30%;
  }

  .category-group li button{
    width: 140px;
    height: 35px;
    font-size: 16px;
    color: white;
    background-color: rgb(182,120,255);
    cursor: pointer;
    border: 0;
  }
  
  .filter-group a {
    text-decoration: none;
    color: #333;
  }
  
  .filter-group a.active {
    font-weight: bold;
  }