.contenido{
    width: 80%;
    height: auto;
    display: flex;
    padding-top: 5%;
    justify-content: center;
    margin-left: 15%;

}


.categorias{
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;

}

.donde-prod{
    width: 75%;
    flex-wrap: wrap;
   
} 

.card{
    width: 80%;
    height: auto;
    display: flex;
    grid-template-columns: 305px;
    grid-template-rows: 300px 150px 85px;
    grid-template-areas: "image" "text" "stats";
    background: white;
    font-family: questrial;
    font-size: 18px;
    margin-top: 0.25%;
    
} 

.card img{
    width: 15%;
    height: auto;
    padding: 2%;
}

.card-body{
    width: 80%;
    padding-left: 5%;
    margin-bottom: 2%;
}

.card-body p{
    font-family:  'Calistoga', serif;
    color:black;
    font-size: 20px;
}

.card-img-top{
    grid-area: image;
    background-size: cover;
}


.form button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 15px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: rgb(182,120,255);
    color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
  }

.form button:hover, .form button:focus {
    background: rgb(185, 185, 65);
  }
  

  table {
    font-size: 25px;
    background-color: aliceblue;
    padding: 5%;
    border-color: #c5692f;
  }


  .carga {
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 5%;
    background-color: aquamarine;
    position: relative;
    background-size: cover;
    background-position: center;

} 

.foto{
    width: 100%;
    height: auto;
    
}

.foto img{
    width: 100%;
}


.form{
    width: 50%;
    margin-bottom: 50px;
    justify-content: center;
    align-self: center;
    position: absolute;
}

.form input{
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

#muestraTitulo{
    font-family:  'Calistoga', serif;
    font-size: 50px;
}

.btn-comprar{
    width: 15%;
    height: 30px;
    background-color: rgb(182,120,255);
}

.btn-agregar{
    width: 15%;
    height: 30px;
    margin-left: 3%;
    background-color: rgb(182,120,255);
}

/*------------------------- Filtros ------------------------*/
.filters {
    width: 20%;

  }
  
  .filter-group {
    /* Estilos para cada grupo de filtros */
  }
  
  .filter-group ul {
    list-style: none;
    padding: 0;
  }
  
  .filter-group li {
    width: 40%;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .filter-group a {
    text-decoration: none;
    color: #333;
  }
  
  .filter-group a.active {
    font-weight: bold;
  }