.body-clientes{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
  }
  
  .body-carga{
    width: 100%;
    height: auto;
 
    padding-bottom: 50px;
  } 
  
  .body-catalogo{
    width: 100%;
    height: auto;
    padding-top: -2%;
    padding-bottom: 100px;
  
  } 
  
  
  .bannerProd {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
  background-position: center;
  }
  
  .bannerProd img {
    width: 100%;
    
  }
  
  
  #deBanner{
  background-color:rgb(182,120,255);
  color: white;
  width: 40%;
  height: 80px;
  position: absolute;
  padding-top: 10px;
  padding-right: 5%;
  padding-left: 5%;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
  }
  
  
  .carga {
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 3%;
  }
  
  #formArticulos{
    width: 30%;
    height: 75%;
    position: absolute;
    background-color:  rgb(255, 255, 255, 0.7);
    border-radius: 30px;
    padding-right: 5%;
    padding-left: 5%;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding-top: 2%;
  } 
  
  
  
  #formArticulosC{
  width: 27%;
  height: 58%;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 30px;
  padding-right: 5%;
  padding-left: 5%;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding-top: 2%;
  } 
  
  .foto img{
  width: 100%;
  }
  
  
  form{
    width: 100%;
    margin-bottom: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;
    align-self: center;
    
  }
  
  form input{
    padding-left: 2%;
    border-radius: 8px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  
  form p{
    font-size: 20px;
  }
  
  .titulo {
    width: 50%;
    height: 15%;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-right: 5%;
    padding-left: 5%;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: rgb(241, 241, 43);
      margin-bottom: 5%;
      color: red;
  }
  
  #carga-lista{
    width: 100%;
    height: 8%;
    font-family:  'Calistoga', serif;
    font-size: 35px;
    margin-bottom: 8%;
  }
  
  #mostrar-lista{
    font-family:  'Calistoga', serif;
    font-size: 45px;
    margin-top: 6%;
    padding-bottom: 3%;
  }
  
  .cuadro-der{
    width: 50%;
    height: auto;
    padding-top: 10% ;
    padding-left: 2%;
    font-family: questrial;
  }
  
  .form button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 15px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: rgb(182,120,255);
    color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 20%;
  }
  
  .form button:hover, .form button:focus {
    background: rgb(196, 196, 196);
    color:black;
    border: 1px rgb(182,120,255);
  }
  
  table {
    font-size: 20px;
    font-family: questrial;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  
  #deProductos{
    background-color: white;
  }
  
  th, td{
    border-radius: 10px;
    border-spacing: 0;
  }
  
  #articulos{
    width: 15%;
  }
  
  #descripcion{
    width: 20%;
  }
  
  .titulos{
    padding-top: 80px;
    height: 100px;
  }
  
  #boton{
  background: rgb(182,120,255);
  color: white;
  } 
  
  #boton:hover{
    background: rgb(218, 218, 218);
    color:black;
    border: 3px solid rgb(182,120,255);
    cursor: pointer;
  } 